@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

}
<div>
    @{
        int? imageId = Model.Content.GetPropertyValue<int?>("mediaPicker");

        IPublishedContent image = null;

        if (imageId.HasValue)
        {
            image = Umbraco.TypedMedia(imageId);
        }
    }

    @if (image != null)
    {
        <img src="@image.GetCropUrl("First Crop")" />
    }
    
    @Html.Raw(Model.Content.GetPropertyValue<string>("content"))
</div>