<div ng-controller="Umbraco.FileSystemPickerController" class="umb-editor">
    <ul class="unstyled" ng-show="model.value.length !== 0">
        <li>
            <a href="#" prevent-default ng-click="remove()">
                <i class="icon icon-delete red"></i> {{model.value}}
            </a>

            <div ng-show="!model.config.coordinatePicker">
                <img src="/umbraco/backoffice/FileSystemPicker/FileSystemThumbnailApi/GetThumbnail?width={{model.config.thumbnailSize}}&imagePath={{model.value}}"
                     ng-show="model.value.length.toLowerCase().indexOf('.jpg') >= 0 || model.value.length.toLowerCase().indexOf('.gif') >= 0" />
                <strong>{{model.config.coordinatePicker}}</strong>
            </div>
            <div ng-show="model.config.coordinatePicker">
                <img id="usda-map-image" src="{{model.value}}" ng-click="clickMap($event)" style="cursor: crosshair;" />
            </div>

        </li>
    </ul>
    <ul class="unstyled list-icons" ng-show="model.value.length === 0">
        <li>
            <i class="icon icon-add blue"></i>
            <a href="#" ng-click="openPicker()" prevent-default="">
                <localize key="general_add">Add</localize>
            </a>
        </li>
    </ul>
</div>