<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT openGraph ANY>
<!ATTLIST openGraph id ID #REQUIRED>
<!ELEMENT simpleTextPage ANY>
<!ATTLIST simpleTextPage id ID #REQUIRED>

]>
<root id="-1">
  <simpleTextPage id="1071" key="87b5f246-b547-4bbc-acf3-708f83779228" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-03-07T10:04:50" updateDate="2016-03-21T09:27:24" nodeName="UmbracoFlare" urlName="umbracoflare" path="-1,1071" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage">
    <twitterSite><![CDATA[@scyllagroup]]></twitterSite>
    <twitterDescription><![CDATA[Automate and manage cache purging on your Umbraco site through UmbracoFlare - a powerful integration of CloudFlare for your Umbraco site. UmbracoFlare is free and available to use on your Umbraco site.]]></twitterDescription>
    <twitterCreator><![CDATA[@scyllagroup]]></twitterCreator>
    <twitterTitle><![CDATA[UmbracoFlare - Cache control between Umbraco and CloudFlare]]></twitterTitle>
    <ogDescription><![CDATA[Automate and manage cache purging on your Umbraco site through UmbracoFlare - a powerful integration of CloudFlare for your Umbraco site. UmbracoFlare is free and available to use on your Umbraco site.]]></ogDescription>
    <ogUrl><![CDATA[http://www.umbracoflare.com/]]></ogUrl>
    <ogSiteName><![CDATA[UmbracoFlare]]></ogSiteName>
    <openGraphImage><![CDATA[/share.png?1]]></openGraphImage>
    <ogTitle><![CDATA[UmbracoFlare - Cache control between Umbraco and CloudFlare]]></ogTitle>
    <bodyText><![CDATA[<div class="flex -pad" style="background-image: url('/images/background.jpg'); background-size: cover; background-position: bottom;">
<div class="-m-3 -text-center">
<div class="wrapper"><img src="/images/UmbracoFlare-Final.png" alt="Logo" width="300" />
<h1 class="title -text-center">Auto purge your cache in Umbraco</h1>
<p>Automate and manage manual cache purging on your *Umbraco site through UmbracoFlare - a powerful integration of **CloudFlare™ for your Umbraco site.</p>
<p>UmbracoFlare is FREE and available to use on your Umbraco site.</p>
<p><a rel="nofollow" href="https://our.umbraco.org/projects/backoffice-extensions/umbracoflare/" target="_blank" class="button -fg-white _download-home-body">Download</a></p>
<p>By installing UmbracoFlare, you agree to the terms described <a rel="nofollow" href="https://github.com/scyllagroup/UmbracoFlare/blob/master/LICENSE.md">here</a>.</p>
</div>
</div>
</div>
<div class="flex -pad -bg-secondary1 -text-center -fg-white">
<div>
<div class="grid -pad -l4 -m2 -s1">
<div class="title">
<h2 class="title-sub -text-center">Save Time</h2>
<p>Save time and reduce manual steps for caching site content</p>
</div>
<div class="title">
<h2 class="title-sub -text-center">Automate Workflow</h2>
<p>Simplify and automate CloudFlare's manual purging process</p>
</div>
<div class="title">
<h2 class="title-sub -text-center">Control Access</h2>
<p>Control how you work and govern content updates: Includes multiple options for automatic and manual caches</p>
</div>
<div class="title">
<h2 class="title-sub -text-center">Update Easily</h2>
<p>Keep your site's content up-to-date across your CDN with minimal effort</p>
</div>
</div>
</div>
</div>
<div class="-text-center"><img src="/images/cloudflare-umbraco.jpg" alt="" /></div>
<div class="-text-center">
<p>* Umbraco is an open source software available under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>.</p>
<p>** CloudFlare™ is a trademarked entity of CloudFlare, Inc.</p>
</div>
<div class="flex -pad -bg-tertiary1 -text-center -vcenter -fg-white">
<div><a rel="nofollow" href="https://our.umbraco.org/projects/backoffice-extensions/umbracoflare/" target="_blank" class="button _download-home-body-2">Download UmbracoFlare</a> <a rel="nofollow" href="https://github.com/scyllagroup/UmbracoFlare" class="button -fg-white">Get Support at GitHub</a></div>
</div>]]></bodyText>
    <title><![CDATA[UmbracoFlare | Cloudflare Integration for Your Umbraco Backoffice]]></title>
    <simpleTextPage id="1073" key="ddb33834-9d0f-4493-b641-14de6b9c6fd4" parentID="1071" level="2" creatorID="0" sortOrder="0" createDate="2016-03-07T11:28:07" updateDate="2016-03-18T11:11:18" nodeName="CloudFlare" urlName="cloudflare" path="-1,1071,1073" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage">
      <bodyText><![CDATA[<div class="flex -pad content-margin">
<div class="-m-3 -text-center -vcenter">
<div class="wrapper">
<h1 class="title -text-center">Making The Best Use of your Free CloudFlare Account</h1>
<p>For most website owners a free CloudFlare CDN account provides all the benefits you need to offset some of the traffic and heavy lifting of your web server, increase the number of users and requests served, and save bandwidth costs - without any additional hardware or software costs. <br /> <br /> Free accounts are limited to creating a maximum of 3 rules. Using these rules effectively will provide the benefits above.</p>
<p><a href="https://www.cloudflare.com/" class="button -fg-white">Visit CloudFlare Page</a></p>
</div>
</div>
</div>
<div class="grid -m3 -s1 -pad -bg-tertiary1">
<div>
<h2 class="title-sub"><span style="color: #ff6e00;">1.</span> Don't Cache the Back Office</h2>
<p>The first rule you'll want to immediately define in CloudFlare is "www.yourwebsite.com/umbraco/*". You'll want to bypass cache, and set always online to off.</p>
</div>
<div>
<h2 class="title-sub"><span style="color: #ff6e00;">2.</span> Aggressively Cache Everything Else</h2>
<p>The next rule is pretty liberal. You want to cache everything on the site for as long as possible. Be sure to ask yourself how often content is updated and feel free to experiment with the settings we suggest. In the end, UmbracoFlare will always clear the cache for you when content is saved and published, or you can use it to clear cache for specific items.</p>
<p>You'll want to create this rule for "www.yourwebsite.com/*". You should set caching to cache everything, set edge cache expire ~ 6 days, set browser cache ~ 8 days, set always online to on, set performance to on, and the rest of the settings can be used as appropriate to your project.</p>
</div>
<div>
<h2 class="title-sub"><span style="color: #ff6e00;">3.</span> The Third Rule Is Yours</h2>
<p>With everything being cached aggressively, you'll most likely want to use this third rule to support another area of your website that should not be cached. Remember that rules at the top of the list take priority, so if this is a bypass cache rule, rearrange your rules so this is at the top.</p>
</div>
</div>]]></bodyText>
      <title><![CDATA[CloudFlare Setup |UmbracoFlare ]]></title>
      <bottomText><![CDATA[<div class="flex -pad -bg-tertiary1 -text-center -vcenter -fg-white">
<div><a href="https://our.umbraco.org/projects/backoffice-extensions/umbracoflare/" target="_blank" class="button _download-cloudflare-body">Download UmbracoFlare</a></div>
</div>]]></bottomText>
      <simpleTextPage id="2084" key="576d5aba-e1a4-43ea-ae0d-80efdb5aee22" parentID="1073" level="3" creatorID="0" sortOrder="0" createDate="2016-03-18T11:04:56" updateDate="2016-03-18T11:34:15" nodeName="Another Test" urlName="another-test" path="-1,1071,1073,2084" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage">
        <bodyText><![CDATA[<p>f</p>]]></bodyText>
        <newProperty><![CDATA[f]]></newProperty>
        <title><![CDATA[f]]></title>
        <bottomText><![CDATA[<p>v</p>]]></bottomText>
        <simpleTextPage id="2086" key="30daf450-8217-4211-a9d0-36e9c83e369c" parentID="2084" level="4" creatorID="0" sortOrder="0" createDate="2016-03-18T16:11:30" updateDate="2016-03-18T16:11:30" nodeName="Fourth Level" urlName="fourth-level" path="-1,1071,1073,2084,2086" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage">
          <bodyText><![CDATA[<p>f</p>]]></bodyText>
          <newProperty><![CDATA[f]]></newProperty>
          <title><![CDATA[f]]></title>
          <bottomText><![CDATA[<p>f</p>]]></bottomText>
        </simpleTextPage>
        <simpleTextPage id="2087" key="2d2391a8-71ea-4f14-9e24-baa49770c8c9" parentID="2084" level="4" creatorID="0" sortOrder="1" createDate="2016-03-18T16:13:54" updateDate="2016-03-18T16:13:54" nodeName="Fourth Level 2" urlName="fourth-level-2" path="-1,1071,1073,2084,2087" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage" />
        <simpleTextPage id="2088" key="8d47a151-b1a4-45f5-b2b2-f3cc98e8bfac" parentID="2084" level="4" creatorID="0" sortOrder="2" createDate="2016-03-18T16:23:45" updateDate="2016-03-18T16:23:45" nodeName="Fourth Level 3" urlName="fourth-level-3" path="-1,1071,1073,2084,2088" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage" />
        <simpleTextPage id="2089" key="61daca32-c50a-425c-8b57-a3537c1b56ad" parentID="2084" level="4" creatorID="0" sortOrder="3" createDate="2016-03-18T16:24:04" updateDate="2016-03-18T16:24:04" nodeName="Fourth Level 4" urlName="fourth-level-4" path="-1,1071,1073,2084,2089" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage" />
        <simpleTextPage id="2091" key="493658ca-bac7-4183-9745-7cc8814446e5" parentID="2084" level="4" creatorID="0" sortOrder="5" createDate="2016-03-18T16:37:45" updateDate="2016-03-18T16:37:45" nodeName="Fourth level 6" urlName="fourth-level-6" path="-1,1071,1073,2084,2091" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage">
          <bodyText><![CDATA[<p>f</p>]]></bodyText>
          <newProperty><![CDATA[f]]></newProperty>
          <title><![CDATA[f]]></title>
          <bottomText><![CDATA[<p>f</p>]]></bottomText>
        </simpleTextPage>
      </simpleTextPage>
    </simpleTextPage>
    <simpleTextPage id="1072" key="55743d9e-6eca-4180-bf9d-37b2d9cf293f" parentID="1071" level="2" creatorID="0" sortOrder="1" createDate="2016-03-07T11:26:49" updateDate="2016-03-18T09:55:55" nodeName="Support" urlName="support" path="-1,1071,1072" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage">
      <bodyText><![CDATA[<div class="flex -pad content-margin">
<div class="-m-3 -text-center -vcenter">
<div class="wrapper">
<h1 class="title -text-center">Looking for some help?</h1>
<p>UmbracoFlare is provided by The Scylla Group, a digital business partner specializing in Web Integration, Application Development, and Enterprise IT. If you are looking for support with UmbracoFlare, please refer to our <a href="https://github.com/scyllagroup/UmbracoFlare">GitHub page</a>. The Scylla Group is also available, on a contract basis, to support your project or organization. Please <a href="http://www.scyllagroup.com">visit our website</a>for more information on our group or to connect with someone to discuss your need(s).</p>
</div>
</div>
</div>
<div class="flex -pad -text-center -bg-tertiary1 -vcenter">
<div style="background-image: url('/images/code.jpg');"><a href="https://github.com/scyllagroup/UmbracoFlare"> <img src="/images/GitHub-Mark-120px-plus.png" alt="Logo" /> </a>
<h2 class="title-sub -text-center">GitHub</h2>
<p>UmbracoFlare support is provided via our GitHub repository page. Here, you can:</p>
<ul class="-text-left" style="display: inline-block;">
<li>Find product documentation</li>
<li>Download Source Code</li>
<li>Submit an issue</li>
<li>Browse our history of resolved issues</li>
<li>Browse current open issues</li>
</ul>
<p><a href="https://github.com/scyllagroup/UmbracoFlare" class="button -fg-white">Get Support at GitHub</a></p>
</div>
<div class="-text-center"><a href="http://www.scyllagroup.com/"> <img src="/images/the-scylla-group.png" alt="Logo" /> </a>
<div class="wrapper">
<h2 class="title-sub -text-center">The Scylla Group</h2>
<p>We are available, on a contract basis, to support your project or organization. Please contact us if there is something we can do to support your needs.</p>
<p><a href="http://www.scyllagroup.com/" class="button -fg-white">View Our Site</a></p>
</div>
</div>
</div>]]></bodyText>
      <title><![CDATA[Support | UmbracoFlare ]]></title>
    </simpleTextPage>
    <simpleTextPage id="2085" key="222a6efc-4825-4325-bfd2-06094785b026" parentID="1071" level="2" creatorID="0" sortOrder="2" createDate="2016-03-18T12:04:10" updateDate="2016-03-18T12:04:10" nodeName="1st level" urlName="1st-level" path="-1,1071,2085" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage" />
  </simpleTextPage>
  <simpleTextPage id="2083" key="a0b13fa4-efc2-4adc-9c1f-c1e3de74be12" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-03-15T14:43:34" updateDate="2016-03-15T14:45:34" nodeName="UmbracoFlare (ES)" urlName="umbracoflare-es" path="-1,2083" isDoc="" nodeType="1070" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1069" nodeTypeAlias="simpleTextPage" />
</root>