<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Test ANY>
<!ATTLIST Test id ID #REQUIRED>

]>
<root id="-1">
  <Test id="1052" key="4547b718-1323-4eac-b4e7-aca9de793dda" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-18T15:01:09" updateDate="2016-02-12T16:13:40" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
    <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
    <mediaPicker><![CDATA[1048]]></mediaPicker>
    <content><![CDATA[<p>Content to check. </p>]]></content>
    <Test id="1054" key="17608c4b-86ef-496a-bd0e-2d2967c868c8" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2016-02-01T15:01:00" updateDate="2016-02-12T16:14:02" nodeName="child page 1" urlName="child-page-1" path="-1,1052,1054" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
      <cloudflareDisabledOnPublish>1</cloudflareDisabledOnPublish>
      <mediaPicker><![CDATA[1048]]></mediaPicker>
      <content><![CDATA[<p>Test content</p>]]></content>
      <Test id="1065" key="ee3613c1-a69a-4ca3-bd3e-fa42d5b47a07" parentID="1054" level="3" creatorID="0" sortOrder="0" createDate="2016-02-12T16:15:01" updateDate="2016-02-12T16:15:01" nodeName="double child" urlName="double-child" path="-1,1052,1054,1065" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
        <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
        <Test id="1066" key="024e8f8a-7901-4b91-8fc6-60b9e494c2a5" parentID="1065" level="4" creatorID="0" sortOrder="0" createDate="2016-02-12T16:15:13" updateDate="2016-02-12T16:15:13" nodeName="trip child" urlName="trip-child" path="-1,1052,1054,1065,1066" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
          <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
        </Test>
      </Test>
    </Test>
    <Test id="1059" key="90adf877-2b6f-464b-9268-437d025926ea" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2016-02-12T14:17:09" updateDate="2016-02-12T14:17:09" nodeName="child page 2" urlName="child-page-2" path="-1,1052,1059" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
      <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
    </Test>
    <Test id="1060" key="6fb4d12a-8862-48d5-b4af-c20e8adc3aa3" parentID="1052" level="2" creatorID="0" sortOrder="2" createDate="2016-02-12T14:19:56" updateDate="2016-02-12T15:36:02" nodeName="child page 3" urlName="child-page-3" path="-1,1052,1060" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
      <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
    </Test>
    <Test id="1061" key="bf25defd-a55d-4a5f-b20b-b85caa7edd9a" parentID="1052" level="2" creatorID="0" sortOrder="3" createDate="2016-02-12T15:54:49" updateDate="2016-02-12T15:54:49" nodeName="child page 4" urlName="child-page-4" path="-1,1052,1061" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
      <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
    </Test>
    <Test id="1062" key="d8456177-175e-414c-bfb1-106e6e030adf" parentID="1052" level="2" creatorID="0" sortOrder="4" createDate="2016-02-12T15:55:10" updateDate="2016-02-12T15:55:10" nodeName="child 5" urlName="child-5" path="-1,1052,1062" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
      <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
    </Test>
    <Test id="1063" key="78f20bb8-4e7d-4be8-9dfa-71df07208a74" parentID="1052" level="2" creatorID="0" sortOrder="5" createDate="2016-02-12T16:07:06" updateDate="2016-02-12T16:07:06" nodeName="child 6" urlName="child-6" path="-1,1052,1063" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
      <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
    </Test>
    <Test id="1064" key="48e1fcd7-aa71-4212-8d46-0efb191ac333" parentID="1052" level="2" creatorID="0" sortOrder="6" createDate="2016-02-12T16:10:15" updateDate="2016-02-12T16:10:15" nodeName="ADd" urlName="add" path="-1,1052,1064" isDoc="" nodeType="1051" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="1050" nodeTypeAlias="Test">
      <cloudflareDisabledOnPublish>0</cloudflareDisabledOnPublish>
    </Test>
  </Test>
</root>