<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT root ANY>
<!ATTLIST root id ID #REQUIRED>
<!ELEMENT components ANY>
<!ATTLIST components id ID #REQUIRED>
<!ELEMENT bannerImageWithText ANY>
<!ATTLIST bannerImageWithText id ID #REQUIRED>
<!ELEMENT button ANY>
<!ATTLIST button id ID #REQUIRED>
<!ELEMENT carouselSlide ANY>
<!ATTLIST carouselSlide id ID #REQUIRED>
<!ELEMENT categoryFeaturePromotion ANY>
<!ATTLIST categoryFeaturePromotion id ID #REQUIRED>
<!ELEMENT doubleBanner ANY>
<!ATTLIST doubleBanner id ID #REQUIRED>
<!ELEMENT imageWithAltText ANY>
<!ATTLIST imageWithAltText id ID #REQUIRED>
<!ELEMENT productFeature ANY>
<!ATTLIST productFeature id ID #REQUIRED>
<!ELEMENT productFilterFeature ANY>
<!ATTLIST productFilterFeature id ID #REQUIRED>
<!ELEMENT productSpecification ANY>
<!ATTLIST productSpecification id ID #REQUIRED>
<!ELEMENT productTag ANY>
<!ATTLIST productTag id ID #REQUIRED>
<!ELEMENT quadBanner ANY>
<!ATTLIST quadBanner id ID #REQUIRED>
<!ELEMENT groupings ANY>
<!ATTLIST groupings id ID #REQUIRED>
<!ELEMENT bannerGrouping ANY>
<!ATTLIST bannerGrouping id ID #REQUIRED>
<!ELEMENT certificationTypeGrouping ANY>
<!ATTLIST certificationTypeGrouping id ID #REQUIRED>
<!ELEMENT industryGrouping ANY>
<!ATTLIST industryGrouping id ID #REQUIRED>
<!ELEMENT modelFamilyGrouping ANY>
<!ATTLIST modelFamilyGrouping id ID #REQUIRED>
<!ELEMENT productCatalogGrouping ANY>
<!ATTLIST productCatalogGrouping id ID #REQUIRED>
<!ELEMENT productCategoriesGrouping ANY>
<!ATTLIST productCategoriesGrouping id ID #REQUIRED>
<!ELEMENT productCategoryFeatures ANY>
<!ATTLIST productCategoryFeatures id ID #REQUIRED>
<!ELEMENT productCategorySettingsGrouping ANY>
<!ATTLIST productCategorySettingsGrouping id ID #REQUIRED>
<!ELEMENT productFilterFeaturesGrouping ANY>
<!ATTLIST productFilterFeaturesGrouping id ID #REQUIRED>
<!ELEMENT productSettingsGrouping ANY>
<!ATTLIST productSettingsGrouping id ID #REQUIRED>
<!ELEMENT productTagsGrouping ANY>
<!ATTLIST productTagsGrouping id ID #REQUIRED>
<!ELEMENT productTypeGrouping ANY>
<!ATTLIST productTypeGrouping id ID #REQUIRED>
<!ELEMENT productsGrouping ANY>
<!ATTLIST productsGrouping id ID #REQUIRED>
<!ELEMENT webPage ANY>
<!ATTLIST webPage id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT productCategoriesMaster ANY>
<!ATTLIST productCategoriesMaster id ID #REQUIRED>
<!ELEMENT certificationType ANY>
<!ATTLIST certificationType id ID #REQUIRED>
<!ELEMENT pickableProductCategoriesMaster ANY>
<!ATTLIST pickableProductCategoriesMaster id ID #REQUIRED>
<!ELEMENT industry ANY>
<!ATTLIST industry id ID #REQUIRED>
<!ELEMENT modelFamily ANY>
<!ATTLIST modelFamily id ID #REQUIRED>
<!ELEMENT productDetail ANY>
<!ATTLIST productDetail id ID #REQUIRED>
]>
<root id="-1">
  <home id="3092" key="e2664354-905e-4f99-8721-d97350eee174" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-12-14T14:41:04" updateDate="2016-12-14T14:41:04" nodeName="Home" urlName="home" path="-1,3092" isDoc="" nodeType="2165" creatorName="umbracoAdmin" writerName="umbracoAdmin" writerID="0" template="2133" nodeTypeAlias="home" />
</root>