<!--Included in /config/Dashboard.config-->
<div style="max-width: 1200px" ng-controller="Cloudflare.Dashboard.Controller" class="umbracoflare umb-pane umb-scrollable">
    <div style="margin: 2rem 0 2rem 0">
        <p>
            <img src="/App_Plugins/UmbracoFlare/Assets/Media/UmbracoFlare-Logo.png"
                 alt="UmbracoFlare aims to provide a basic level of service integration between Cloudflare and the open-source ASP.NET CMS Umbraco" />
        </p>
    </div>
    <h1>Small change</h1>
    <p>You can purge your cloudflare pages or the entire site here. You can also clear the cache for a page by right clicking a node and choosing the option from the menu. Configure your cloudflare setup by entering the api key, account email you wish to clear in the content tab.</p>
    <h2>Pick Static Files</h2>
    <fs-picker selected-files="selectedFiles"></fs-picker>
    <button class="btn btn-success" ng-click="purgeStaticFiles(selectedFiles)">Purge Static Files</button>
    
    <br />
    <br />

    <form name="listUrls">
        <h2>Purge By Url</h2>
        <span>Urls must begin with a / and should not include the domain. Your current domain will be added to the url.</span>
        <input-adder class="input-adder" ng-model="urls" on-submit="purgeUrls(collection)" submit-text="purgeUrlsButtonText"></input-adder>
    </form>
    <br />
    <br />
    <div class="purge-everything">
        <h2>Purge everything on Site</h2>
        
        <button class="btn btn-danger"  ng-click="purgeEverything()">Purge Site</button>
    </div>
</div>


<style type="text/css">
    .purge-everything {
        margin-top: 50px;
    }

    .config-group {
        margin: 10px 0;
    }

    .config-on {
        color: white;
        background: green;
    }

    .config-off {
        color: white;
        background: red;
    }

    .cloudflare-config {
        height: 50%;
        margin: 50px 0;
    }

    i.active {
        color: #5cb85c;
    }

    i.inactive {
        color: #d9534f;
    }
</style>
