<div class="umb-panel" ng-controller="Cloudflare.DomainDialog.Controller">

    <div class="umb-panel-body">
        <h3>Purge for domain(s)</h3>
        <span>
            <label>
                <input type="checkbox" value="{{selectDeselectAllText}}" ng-model="checkboxWrapper.allSelected" ng-click="checkAll()">
                {{selectDeselectAllText}}
            </label>
        </span>
        <br />
        <span ng-repeat="domain in allowedDomains">
            <label for="{{domain}}" >
                <input type="checkbox" value="{{domain}}" ng-click="toggleSelected(domain)" ng-checked="isChecked(domain)"  />
                {{domain}}
            </label>
        </span>
        <span ng-show="allowedDomains.length == 0">You do not have any hostnames registered with Umbraco.</span>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>
            </div>
            <div class="btn-toolbar umb-btn-toolbar">
                <a href ng-click="addDomains()" ng-disabled="selectedDomains.length == 0" class="btn btn-success">
                    Purge
                </a>
            </div>
        </div>
    </div>


</div>